<div>
	<div class="row-fluid">
	
		<div th :if="${message !=null}">
			<table class="table table-striped table-bordered table-condensed"
				id="usertable">
				<thead>
					<tr>
						<th>Order ID</th>
						<th>Time</th>
						<th>User Name</th>
						<th>Comments</th>
					</tr>
				</thead>
				<tbody>
					<tr class="list-cancel" th:each="appMessage : ${message} ">
	
						<td th:text="${appMessage.order.orderId}">Order Id</td>
						<td th:attr="id='cancelledAppMessageTime'+${appMessage.messageId}" th:text="${appMessage.Time}">Time</td>
						<td th:attr="id='cancelledAppMessageName'+${appMessage.messageId}" th:text="${appMessage.user.name}" class="notranslate">Name</td>				
						<td th:attr="id='cancelledAppMessageName'+${appMessage.messageId}" th:text="${appMessage.comments}" class="notranslate">Comments</td>					
					</tr>
				</tbody>
			</table>
		</div>
	
		<div th:if="${message == null}">
			<b>No New Message </b>
	
		</div>
	</div>
</div>