<div ng-controller="AppDeliverCtrl">
	<div style="float: left;">
		<button class= "btn btn-danger btn-small" id = "refresh-table" ng-click="refreshTable()">Refresh</button>
    </div>  
	<br><br>
	<div class="row-fluid">
		
		<table class="table table-striped table-bordered table-condensed" id="usertable">
			<thead>
				<tr>
					<th>Order ID</th>
					<th>Time</th>
					<th>Name</th>
					<th>Status</th>
					<th>Bill</th>
				</tr>
			</thead>
			<tbody>
				<tr class="list-manageOrder" ng-repeat="manageOrderItem in manageOrderItems ">
					
					<td>{{ manageOrderItem.orderId }}</td>
					<td class="notranslate">{{ manageOrderItem.time }}</td>
					<td class="notranslate">{{ manageOrderItem.name }}</td>
					<td class="notranslate">
						<button  id="btn-paid" style='width:65px;' ng-click = 'paidOrder($event, manageOrderItem)' ng-disabled='manageOrderItem.isPaid' ng-class="{'btn btn-danger btn-xs': !manageOrderItem.isPaid, 'btn btn-success btn-xs': manageOrderItem.isPaid}" data-toggle="modal" >
							{{ manageOrderItem.isPaid ? 'Paid' : 'Unpaid'}}
						</button>
					</td>
					<td>
						<a ng-href="generateDeliveredBill/{{manageOrderItem.orderId}}" target="_blank" class="btn btn-primary">
								<i class="icon-white  icon-file"></i> View
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</div>