<div ng-controller="AppProcessCtrl">
	<div style="float: left;">
		<button class= "btn btn-danger btn-small" id = "refresh-table" ng-click="refreshTable()">Refresh</button>
    </div>  
	<br><br>
	<div class="row-fluid">
		
		<table class="table table-striped table-bordered table-condensed" id="processtable">
			<thead>
				<tr>
					<th>Order ID</th>
					<th>User Name</th>
					<th>Action</th>
					<th>Bill</th>
				</tr>
			</thead>
			<tbody>
				<tr class="list-manageOrder" ng-hide="manageProcessedItem.stat" ng-repeat="manageProcessedItem in manageProcessedItems ">
					
					<td>{{ manageProcessedItem.orderId }}</td>
					<td class="notranslate">{{ manageProcessedItem.name }}</td>
					<td class="notranslate">
						<button  id="btn-process" ng-click = 'saveOrder($event, manageProcessedItem)'  class="btn btn-success btn-xs" data-toggle="modal" >
							Delivered
						</button>
					</td>
					<td>
						
						<button  id="btn-paid" ng-click = 'viewBill($event, manageProcessedItem)' class="btn btn-primary">
							<i class="icon-white  icon-file"></i> View
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</div>