<div ng-controller="AppSaveCtrl">
	<div style="float: left;">
		<button class= "btn btn-danger btn-small" id = "refresh-table" ng-click="refreshTable()">Refresh</button>
    </div>  
	<br><br>
	<div class="row-fluid">
		
		<table class="table table-striped table-bordered table-condensed" id="savedtable">
			<thead>
				<tr>
					<th>Order ID</th>
					<th>Time</th>
					<th>User Name</th>
					<th>Delete</th>
					<th>Review</th>
					<th>Process</th>
				</tr>
			</thead>
			<tbody>
				<tr class="list-manageOrder" ng-hide="manageSavedItem.stat" ng-repeat="manageSavedItem in manageSavedItems ">
					
					<td>{{ manageSavedItem.orderId }}</td>
					<td class="notranslate">{{ manageSavedItem.time }}</td>
					<td class="notranslate">{{ manageSavedItem.name }}</td>
					<td class="notranslate">
						<button  id="btn-delete" ng-click = 'deleteItem($event, manageSavedItem)'  class="btn btn-danger btn-xs">
							Delete
						</button>
					</td>
					<td class="notranslate">
						<button  id="btn-review" ng-click = 'viewOrder($event, manageSavedItem)'  class="btn btn-primary btn-xs" data-title="Process" data-toggle="modal" data-target="#view-message-modal" >
							View
						</button>
					</td>
					<td class="notranslate">
						<button  id="btn-process" ng-click = 'processOrder($event, manageSavedItem)'  class="btn btn-success btn-xs">
							Process
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="modal fade" id="view-message-modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-header">
	      		<h4 class="modal-title custom_align" id="HeadingEdit">Review Order</h4>
	    	</div>
	    	<div class="modal-body">
		    	<table class="table-condensed">
			    	<tbody>
			    		<tr>
			    			<td><div><b>Time: </b>{{modalItem.time}}</div></td>
			      			<td><div class="notranslate"><b>Name: </b>{{modalItem.name}}</div></td>
			      		</tr>
			      		<br/>
			      		<!-- <form class="form form-horizontal"> 
					  		<div class="control-group">
						  		<tr>
				      				<td><div><b>Product:</b></div></td>
							    	<td><div><b>Quantity:</b></div></td>
								</tr>
						  		<tr>
							    	<td><select class="span2" ng-model="currProduct" ng-change='change(currProduct)' class="span4" id="savedAppProductName"
							    			data-ng-options="product as product.name for product in manageProducts">
											<option value="" selected>--Select--</option>
							    		</select>
							    	</td>		
							    	<td><input class="span2" type="text" id="savedAppQuantity"></td>
							    </tr>
							    <tr>
							    	<td><button value="0" id="add-saved-app-order-items" class="btn btn-primary" ng-click='addOrderItem($event, modalItem)'> Add</button></td>
							    </tr>		
					  		</div>
				  		</form> -->
				  	</tbody>
			  	</table>
			  	<br>
			  	<table class="table table-condensed">
			  		<thead>
			  			<tr>
							<th class="span4">Product Name</th>
							<th class="span2">Quantity</th>
							<th class="span3">Change</th>
							<th class="span2">Rate (In ₹)</th>
							<th class="span1"></th>
						</tr>
			  		</thead>
			  		<tr ng-repeat="orderItem in orderItems">
							<td class="span4">{{orderItem.name}}</td>
							<td class="span2">{{orderItem.quantity}}</td>
							<td class="span3">
						        <div class="input-append">
					                <input id="newQty" ng-model="qty" class="span1" size="10" type="text" maxlength="7" placeholder="Quantity">
					                <button class="btn btn-small btn-default" ng-click="changeQty($event, orderItem, qty, modalItem)" type="button" style="margin-left:-4px;padding-left:4px;padding-right:4px;">Save</button>
					            </div>
						    </td>
							<td class="span2">{{orderItem.rate}}</td>
							<td class="span1">
								<button ng-click='removeOrderItem($event, orderItem, orderItems, modalItem)' class="close remove-saved-app-order-item"><i class="icon-remove" aria-hidden="true"></i></button>
							</td>
			  		</tr>
			  	</table>
		    </div>
		</div>
	    <div class="modal-footer">
	    	<button type="button" ng-click="notifyChange(modalItem)" class="btn btn-default saved-app-modal-close" data-dismiss="modal"><i class="icon-white icon-remove"></i> Close</button>
	    </div> 
	</div>
	
</div>