<div ng-controller="BroadcastVoiceUrlCtrl as broadcastUrlCtrl" ng-app="AppStats">

	<div class="row-fluid">
		<input type="hidden" id="groupId" th:value="${group.groupId}">
		<div class="page-header">
			<!--  h1 th:text="${group.name}">-->
			<h1>
				Mobile Application Statistics
			</h1>
		</div>
	</div>
	 	<button id="saved" ng-click="bStatus = 1;redUrl = 'appMessage/saved';" ng-class="{'btn btn-primary btn-xs': (bStatus == 1), 'btn btn-default btn-xs': !(bStatus == 1)}">Placed</button>  
		<button id="processed" ng-click="bStatus = 2;redUrl = 'appMessage/processed';" ng-class="{'btn btn-primary btn-xs': (bStatus == 2), 'btn btn-default btn-xs': !(bStatus == 2)}"> Processed </button>  
		<button id="delivered" ng-click="bStatus = 3;redUrl = 'appMessage/delivered';" ng-class="{'btn btn-primary btn-xs': (bStatus == 3), 'btn btn-default btn-xs': !(bStatus == 3)}"> Delivered </button>  
		<button id="cancelled" ng-click="bStatus = 4;redUrl = 'appMessage/cancelled';" ng-class="{'btn btn-primary btn-xs': (bStatus == 4), 'btn btn-default btn-xs': !(bStatus == 4)}"> Cancelled </button>  
		<br><br>
		<div id="pageView" ng-include="redUrl"></div>
		<!-- 
			<ul class="nav nav-tabs bottom-tab-bar" id="all_tabs">
				<li class="active"><a href="#app-message-response-saved" data-toggle="tab">Placed</a></li>
				<li><a href="#app-message-response-processed"
					data-toggle="tab">Processed</a></li>
				 <li><a href="#app-message-response-delivered" data-toggle="tab">Delivered</a></li> 
				<li><a href="#app-message-response-cancelled" data-toggle="tab">Cancelled</a></li>
			</ul>
			<!--all tab content
			<div class="tab-content">
				<div id="app-message-response-saved" class="tab-pane active">
					<ng-include
						th:attr="src='\'appMessage/'+ saved +'\''"></ng-include>
				</div>
				<div id="app-message-response-processed" class="tab-pane">
					<ng-include
						th:attr="src='\'appMessage/'+ processed +'\''"></ng-include>
				</div>
				
				<div id="app-message-response-cancelled" class="tab-pane">
					<ng-include
						th:attr="src='\'appMessage/'+ cancelled +'\''"></ng-include>
				</div>
				<div id="app-message-response-delivered" class="tab-pane">
					<ng-include
						th:attr="src='\'appMessage/'+ delivered +'\''"></ng-include>
				</div>
			</div>
			
			<!-- 
	<ul class="nav nav-tabs top-tab-bar" id="interest_tabs" >
		<!--top level tabs--
		<li class="active"><a href="#app-message-response"
			data-toggle="tab">App</a></li>
		<!-- li th:if="${organization.enableSms}"><a
			href="#text-message-response" data-toggle="tab">Text Message
				Response</a></li>
		<li><a href="#voice-message-response"
			data-toggle="tab">Voice Message Response</a></li>
		<li ng-click="changeUrl(voiceBroadcastUrl)"><a href="#broadcast"
			data-toggle="tab">Broadcast</a></li>
		<li><a href="#send-sms" data-toggle="tab">Sent SMS</a></li>
		<li><a href="#manage" data-toggle="tab">Settings</a></li> --
	</ul>

	<!--top level tab content--
	<div class="tab-content">


		<!--broadcast tab menu--
		<div id="broadcast" class="tab-pane">
			<ul class="nav nav-tabs bottom-tab-bar" id="brands_tabs">
				
				<li class="active"><a href="#broadcast-voice-message" data-toggle="tab">Voice
						Message</a></li>
				<li><a href="#broadcast-text-message" data-toggle="tab">Text
						Message</a></li>
			</ul>
			<!--brands tab content--
			<div class="tab-content">
				
				<div id="broadcast-voice-message" class="tab-pane active">
					<ng-include src="voiceBroadcastUrl"></ng-include>
				</div>
				<div id="broadcast-text-message" class="tab-pane">
					<ng-include th:attr="src='\'textBroadcast/'+${group.groupId}+'\''"></ng-include>
				</div>
			</div>
		</div>

		<!--Voice message response tab menu--
		<div id="voice-message-response" class="tab-pane">
			<ul class="nav nav-tabs bottom-tab-bar" id="all_tabs">
				<li class="active"><a href="#voice-message-response-inbox"
					data-toggle="tab">Inbox</a></li>
				<li><a href="#voice-message-response-saved" data-toggle="tab">Placed</a></li>
				<li><a href="#voice-message-response-processed"
					data-toggle="tab">Processed</a></li>
				<li><a href="#voice-message-response-cancelled" data-toggle="tab">Cancelled</a></li>
				<li th:if="${organization.enableFeedbacks}" class="notranslate"><a
					href="#voice-message-response-feedback" data-toggle="tab">Feedback</a></li>
				<li th:if="${organization.enableResponses}"><a
					href="#voice-message-response-response" data-toggle="tab">Response</a>
			</ul>
			<!--all tab content--
			<div class="tab-content">
				<div id="voice-message-response-inbox" class="tab-pane active">
					<ng-include
						th:attr="src='\'voiceMessage/'+ inbox+'/'+ ${group.groupId}+'\''"></ng-include>
				</div>
				<div id="voice-message-response-saved" class="tab-pane">
					<ng-include
						th:attr="src='\'voiceMessage/'+ saved+'/'+ ${group.groupId}+'\''"></ng-include>
				</div>
				<div id="voice-message-response-processed" class="tab-pane">
					<ng-include
						th:attr="src='\'voiceMessage/'+ processed+'/'+ ${group.groupId}+'\''"></ng-include>
				</div>

				<div id="voice-message-response-feedback" class="tab-pane">
					<ng-include
						th:attr="src='\'voiceMessage/'+ feedback+'/' +${group.groupId}+'\''"></ng-include>
				</div>
				<div id="voice-message-response-response" class="tab-pane">
					<ng-include
						th:attr="src='\'voiceMessage/'+ response+'/' +${group.groupId}+'\''"></ng-include>
				</div>
				<div id="voice-message-response-cancelled" class="tab-pane">
					<ng-include
						th:attr="src='\'voiceMessage/'+ cancelled+'/' +${group.groupId}+'\''"></ng-include>
				</div>
			</div>
		</div>


		<div id="app-message-response" class="tab-pane active">
			
		</div>
		


		<!--Text Message Response tab menu-
		<div id="text-message-response" class="tab-pane">
					<ul class="nav nav-tabs bottom-tab-bar" id="media_tabs">
<!-- 			TODO Implement this in backend -->
<!-- 			<li class="active"><a href="#text-message-response-inbox" data-toggle="tab">Inbox</a></li> -->
<!-- 			<li><a href="#text-message-response-accepted" data-toggle="tab">Accepted</a></li> -->
<!-- 			<li><a href="#text-message-response-rejected" data-toggle="tab">Rejected</a></li> -->
<!-- 			<li><a href="#text-message-response-response-binary" -->
<!-- 				data-toggle="tab">Response(Yes/No)</a></li> -->
<!-- 			<li><a href="#text-message-response-feedback" data-toggle="tab">Feedback</a></li> --
			<li class="active"><a href="#text-message-response-default-message"
				data-toggle="tab">Inbox</a></li>
		</ul>
			<!--media tab content--
			<div class="tab-content">
				<div id="text-message-response-inbox" class="tab-pane">
					<ng-include
						th:attr="src='\'textMessage/'+inbox+'/'+${group.groupId}+'\''"></ng-include>
				</div>
				<div id="text-message-response-accepted" class="tab-pane">
					<ng-include
						th:attr="src='\'textMessage/'+accepted+'/' +${group.groupId}+'\''"></ng-include>
				</div>
				<div id="text-message-response-rejected" class="tab-pane">
					<ng-include
						th:attr="src='\'textMessage/'+rejected+'/' +${group.groupId}+'\''"></ng-include>

				</div>
				<div id="text-message-response-response-binary" class="tab-pane">
					<ng-include
						th:attr="src='\'textMessage/'+ response+'/' +${group.groupId}+'\''"></ng-include>
				</div>
				<div id="text-message-response-feedback" class="tab-pane">
					<ng-include
						th:attr="src='\'textMessage/'+ feedback+'/' +${group.groupId}+'\''"></ng-include>
				</div>
				<div id="text-message-response-default-message"
					class="tab-pane active">
					<ng-include
						th:attr="src='\'textMessage/'+ default+'/' +${group.groupId}+'\''"></ng-include>
				</div>
			</div>
		</div>

		<!--Sent Sms tab menu--
		<div id="send-sms" class="tab-pane">
			<ul class="nav nav-tabs bottom-tab-bar" id="music_tabs">
				<li class="active"><a href="#send-sms-outgoing-sms"
					data-toggle="tab">Outgoing SMS</a></li>
			</ul>
			<!--music tab content--
			<div class="tab-content">
				<div id="send-sms-outgoing-sms" class="tab-pane active">
					<ng-include
						th:attr="src='\'outGoingSmsList/'+${group.groupId}+'\''"></ng-include>
				</div>
			</div>
		</div>

	<!--Manage tab menu--
	<div id="manage" class="tab-pane">
		<ul class="nav nav-tabs bottom-tab-bar" id="public_figures_tabs">
			<li class="active"><a href="#manage-members" data-toggle="tab">Group Members</a></li>
			<li><a href="#manage-reports" data-toggle="tab">Reports</a></li>
			<li><a href="#manage-settings" data-toggle="tab">Settings</a></li>
		</ul>
		<!--public_figures tab content--
		<div class="tab-content" style="overflow:visible">
			<div id="manage-members" class="tab-pane active">
				<ng-include th:attr="src='\'memberList/'+${group.groupId}+'\''"></ng-include>
			</div>
			<div id="manage-reports" class="tab-pane">
				<ul class="nav nav-tabs bottom-tab-bar" id="manage_reports_tabs">
					<li class="active"><a href="#incoming-calls" data-toggle="tab">Incoming Calls</a></li>
					<li><a href="#outgoing-calls" data-toggle="tab">Outgoing Calls</a></li>
				</ul>
				<div class="tab-content" style="overflow:visible">
					<div id="incoming-calls" class="tab-pane active">
						<ng-include	th:attr="src='\'manage/'+ incomingCalls+'/' +${group.groupId}+'\''"></ng-include>
					</div>
					<div id="outgoing-calls" class="tab-pane">
						<ng-include	th:attr="src='\'manage/'+ outgoingCalls+'/' +${group.groupId}+'\''"></ng-include>
					</div>
				</div>				
			</div>
			<div id="manage-settings" class="tab-pane">
				<ng-include th:attr="src='\'groupSettings/'+${group.groupId}+'\''"></ng-include>

			</div>
		</div>
	</div
</div>-->

</div>
