<div ng-controller="HomeCtrl" th:attr="organizationabbr=${organization.abbreviation}">
<div class="well hero-unit">
  <h1>Welcome, Admin</h1><br>
  <p>
  <br>
      <a class="btn btn-success btn-large" href="#/users">Manage Members &raquo;</a>&nbsp &nbsp
      <a class="btn btn-success btn-large" href="#/groupPage">App Stats &raquo;</a>
  </p>
  
</div>
<!-- div class="row-fluid">
  <div class="span3">
    <h3>Total Users</h3>
    <p><a  class="badge badge-inverse" id="totalUsers">563</a></p>
  </div>
  <div class="span3">
    <h3>New Users Today</h3>
    <p><a  class="badge badge-inverse" id="todayUsers">8</a></p>
  </div>
  <div class="span3">
    <h3>Pending</h3>
	  <p><a  class="badge badge-inverse" id="pendingUsers">2</a></p>
  </div>
  <div class="span3">
    <h3>Roles</h3>
	  <p><a  class="badge badge-inverse">3</a></p>
  </div>
</div
<br />
<div class="row-fluid">
	<div class="page-header">
		<h1>Pending Users <small>Approve or Reject</small></h1>
	</div>
	<table class="table table-bordered">
		<!-- <thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>E-mail</th>
				<th>Phone</th>
				<th>City</th>
				<th>Role</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead> 
		<tbody>
		<tr class="list-users notranslate" dir-paginate="userApprovalItem in userApprovalItems | orderBy:'-time'| itemsPerPage: 5">
			<td>{{ userApprovalItem.manageUserID }}</td>
			<td>{{ userApprovalItem.name }}</td>
			<td>{{ userApprovalItem.email }}</td>
			<td>{{ userApprovalItem.phone }}</td>
			<td>{{ userApprovalItem.address }}</td>
			<td><span class="label label-important">Inactive</span></td>
			<td><button type="button" class="btn btn-success"
				ng-click="approveButton()" id="approve-user">
				<i class="icon-white icon-ok"></i> Approve
			</button> 
			<button type="button" class="btn btn-warning"
				ng-click="rejectButton()" id="reject-user">
				<i class="icon-white icon-remove"></i> Reject
			</button></td>
		</tr>
		</tbody>
	</table>
	<dir-pagination-controls id="pagination-approval-users"
			boundary-links="true"
			th:attr='template-url=@{/static/js/dirPagination.tpl.html}'></dir-pagination-controls>
</div>-->
</div>