<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link th:href="@{/static/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/static/css/bootstrap-responsive.css}" rel="stylesheet">
<link th:href="@{/static/css/site.css}" rel="stylesheet"> 
<link th:href="@{/static/css/ruralivrs.css}" rel="stylesheet"> 
<script th:src="@{/static/js/libs/jquery.js}"></script>
<script th:src="@{/static/js/libs/jquery-ui.min.js}"></script>
<script>

function reset() {
	console.log("inside");
	var username = document.getElementById('username-input').value;
	var phonenumber = document.getElementById('number-input').value;
	var newpassword = document.getElementById('newpassword-input').value;
	var confirmpassword = document.getElementById('confirmpassword-input').value;
	if (username == null || username == "" || phonenumber == null || phonenumber == "" || newpassword == null || newpassword == "" || confirmpassword == null || confirmpassword == "") {
		alert("All fields must be entered");
	}
	console.log(username + " " + phonenumber);
	if (newpassword == confirmpassword) {
		var obj = {};
		console.log("inside");
		obj['email']=username;
		obj['phonenumber']=phonenumber;
		obj['password']=newpassword;
		console.log(obj);
		var tempObj = JSON.stringify(obj);
		/*
		xhttp.onreadystatechange = function() {
			  if (xhttp.readyState == 4 && xhttp.status == 200) {
				  alert(xhttp.responseText);
			  }
			};
		xhttp.open("POST", "http://ruralict.cse.iitb.ac.in/RuralIvrs/app/passwordrequest", true);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send(obj); */
	/*	 $.post("http://localhost:8080/app/passwordrequest", tempObj, function(result){
		        var res = JSON && JSON.parse(result) || $.parseJSON(result);
		        alert(res['response']);
		    });*/
		    
		$.ajax({
			/* //bestB
		    url: 'http://best-erp.com/ruralict/app/passwordrequest',
			*/ //bestE
		  
			//ictB
		    url: 'http://ruralict.cse.iitb.ac.in/ruralict/app/passwordrequest',
			//ictE
			
			type: 'POST',
		    data: JSON.stringify(obj),
		    contentType: 'application/json; charset=utf-8',
		    dataType: 'json',
		    async: false,
		    success: function(msg) {
		        alert(msg);
		    }
		});
		
		
	}
	else {
		alert("The passwords do not match");
	}

	
	
}
</script>
<title>Login | RuralIVRS</title>
</head>
<body>
<div class="container">
   <div class = "header">
      <div class="navbar-inner">
        <div class="container-fluid">
          <label class="organization">Rural Information Communication And Technology</label>
          
      </div>
    </div>
   </div>
    <div class="row-fluid">
        <div class="span12">
            

            <div class="span6">
                <div class="area">
                   <div class="well hero-unit">
                   
                   <p>This website helps you connect easily to your customers. Some of the outstanding features of our website include:</p>
                   <ul>
                   <li>Broadcasting through push notification</li>
                   <li>Broadcasting through SMS</li>
                   <li>Automatic billing of orders</li>
                   <li>Generation of sales stats</li>
                   <li>Apps for admins & customers</li>
                   </ul>
<!--                    <p><a class="btn btn-success btn-large" href="http://ruralict.cse.iitb.ac.in/RuralIvrs/userGuide" target="_blank">User Guide &raquo;</a></p>
 -->               	    
<!--ictB-->
 						<a class="btn btn-success btn-large" href = "http://ruralict.cse.iitb.ac.in/Downloads/Admin_Guide_new.pdf" target="_blank">Admin Guide</a>
<!--ictE-->	 
<!--bestB
 						<a class="btn btn-success btn-large" href = "http://best-erp.com/extras/Downloads/Admin_Guide_new.pdf" target="_blank">Admin Guide</a>
bestE-->						
						<p> <br> To know more about us, please visit our <a href="http://ruralict.cse.iitb.ac.in">Website</a> or connect with us on <a href="https://www.facebook.com/RuralICT.iitb">Facebook</a></p>
 					</div>
                </div>
            </div>
            <div class="span4" style="padding-top: 10px;">
                <div class="area">
                
                    <form class="form-horizontal" name="f" th:action="@{/login}" method="post">
                        <div class="heading">
                        <br>
                        <br>
                            <h4 class="form-heading">Sign In</h4>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for=
                            "username" required>Username</label>

                            <div class="controls">
                                <input id="username" name="username" placeholder=
                                "E.g. scarlettjohansson@gmail.com" type="text" required>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for=
                            "password">Password</label>

                            <div class="controls">
                                <input id="password" name="password" placeholder=
                                "Min. 8 Characters" type="password" required>
                            </div>
                        </div>

                    <div class="control-group">
                            <div class="controls">
<!--                                   <label class="checkbox"><input type="checkbox">
                                Keep me signed in ¦ <a class="btn btn-link"
                                href="#">Forgot my password</a></label> -->
                                <button class="btn btn-success" type=
                                "submit">Sign In</button> 
                                <!-- 
                                <button class="btn"
                                type="button">Help</button>-->
                                <button class="btn btn-success" data-toggle="modal" data-title="Forgot Password" data-target="#forgot-password-modal">Forgot Password?</button> 
                            </div>
                            </div>
                    
                                   
                     <!--     
                        
						<div>
						<p align="right"><a href="#url">Forgot password?</a></p>
						</div>   -->
                        <div th:if="${param.error}" class="alert alert-error">
                            <button class="close" data-dismiss="alert" type=
                            "button">×</button> <strong>Access Denied.</strong>
                            Ensure that your username and password are correct, and that you're an
                            administrator of an organization.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            <button class="close" data-dismiss="alert" type=
                            "button">×</button> <strong>Logged out.</strong>
                            You have been logged out.
                        </div>
                    </form>
                </div>
                
            </div>
            <div class="span2">
                <div class="area">
                   <div id="google_translate_element" style="padding-top: 40px;"></div><script type="text/javascript">
						function googleTranslateElementInit() {
  						new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,hi,mr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
						}
						</script>
						<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="user-guide-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingDelete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
           <h4 class="modal-title custom_align" id="HeadingDelete">Delete this entry</h4>
      </div>
      <div class="modal-body">
        	<div class="container-inner-document" style="text-align: center;">
				<b>Contact-Number - 022-33578383</b><br><br><br/>
				
				<!--bestB
				<a href = "http://best-erp.com/extras/Admin_Guide_new.pdf" target="_blank" style="color:black;">Admin Guide</a>
				<br><br/>
				<a href = "http://best-erp.com/extras/Call flow for Publisher.png" target="_blank" style="color:black;" >Call Flow for Rural IVRS for Publisher</a>
				<br><br/>		
				<a href = "http://best-erp.com/extras/Call flow for Member.png" target="_blank" style="color:black;">Call Flow for Rural IVRS for Customer</a>
				<br><br/>
				<a href = "http://best-erp.com/extras/rural ivrs in yuva pune newspaper.png" target="_blank" style="color:black;">Article of newspaper</a>
				<br><br/>
				<a href = "http://best-erp.com/extras/Bodke_1.m4v" target="_blank" style="color:black;">Video</a>
				<br>		
				bestE-->
				
				<!--ictB-->
				<a href = "http://ruralict.cse.iitb.ac.in/Downloads/Admin_Guide_new.pdf" target="_blank" style="color:black;">Admin Guide</a>
				<br><br/>
				<a href = "http://ruralict.cse.iitb.ac.in/Downloads/Call flow for Publisher.png" target="_blank" style="color:black;" >Call Flow for Rural IVRS for Publisher</a>
				<br><br/>		
				<a href = "http://ruralict.cse.iitb.ac.in/Downloads/Call flow for Member.png" target="_blank" style="color:black;">Call Flow for Rural IVRS for Customer</a>
				<br><br/>
				<a href = "http://ruralict.cse.iitb.ac.in/Downloads/rural ivrs in yuva pune newspaper.png" target="_blank" style="color:black;">Article of newspaper</a>
				<br><br/>
				<a href = "http://ruralict.cse.iitb.ac.in/Downloads/Bodke_1.m4v" target="_blank" style="color:black;">Video</a>
				<br>	
				<!--ictE-->
			</div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" onclick="okButtonClick()" id="userguideOK" ><i class="icon-white icon-ok"></i> OK</button>
        <script>
        	function okButtonClick()
        	{
        		$("#user-guide-modal").modal('toggle');
        	}
        </script>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>

<div class = "modal fade" id="forgot-password-modal" tabindex = "-2"  aria-labelledby="HeadingDelete" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
           <h4 class="modal-title custom_align" id="HeadingDelete">Forgot Password</h4>
      </div>
       <div class="modal-body">
       	 <form class="form-horizontal"> 
		  <div class="control-group">
		    <label class="control-label" for="number-input">Phone number</label>
			<div class="controls">
			  <input type="text" class="input-large" id="number-input" placeholder="1023456789" />
			</div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="username-input">Username</label>
			<div class="controls">
				 <input type="text" class="input-large" id="username-input" placeholder="scarlettjohansson@gmail.com" />
			</div>
		  </div>
		  <div class="control-group">
                            <label class="control-label" for=
                            "newpassword-input">New Password</label>

                            <div class="controls">
                                <input id="newpassword-input" name="newpassword" placeholder=
                                "Min. 8 Characters" type="password" required>
                            </div>
           </div>
           <div class="control-group">
                            <label class="control-label" for=
                            "confirmpassword-input">Confirm Password</label>

                            <div class="controls">
                                <input id="confirmpassword-input" name="confirmpassword" placeholder=
                                "Min. 8 Characters" type="password" required>
                            </div>
           </div>
		  </form>
      </div>
     </div>
     </div>
     <div class="modal-footer ">
    <button type="button" class="btn btn-success" id="forgot-password" onclick="reset()" data-dismiss="modal"><i class="icon-white icon-ok"></i> Send Email</button>
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button> 
  </div>
     </div>
<script th:src="@{/static/js/libs/jquery.js}"></script>
<script th:src="@{/static/js/libs/bootstrap.min.js}"></script>
<!-- <script th:src="@{/static/js/login.js}"></script>   -->


</body>
</html>