<div ng-controller="OrderSummaryProductsController">
	<div class="page-header">
		<h1>Order Summary</h1>
	</div>
	<div class="row-fluid">
		<form class="simple-form">
			<p hidden id="orgAbbrevation" th:text="${orgAbbrevation}" th:attr="organizationId=${orgAbbrevation}">text</p>
	    	</br></br></br>
	    	Product Name: 
	    	<select placeholder="Choose product" id="product" ng-model="name">
	    		<option value='' disabled selected style='display:none;'>-Select-</option>
	    		<option value='All'>All</option>
	    		<option th:each="product : ${products}" th:value="${product.productId}">
	    			<p th:text="${product.name}">text</p>
	    		</option>
	  		</select>
	  		From: <input id="fromProductsDate" class="notranslate" name="From" ng-model="fromDate" placeholder="yyyy-mm-dd">
	  		To:<input id="toProductsDate" class="notranslate" name="To" ng-model="toDate" placeholder="yyyy-mm-dd">
	    	<input type="submit" id="submitProducts" value="Submit" />
	    	
	  	</form>
	  	<div style="float: left;">
			<button class= "btn btn-danger btn-small" id="download-sheet" ng-click="downloadSheet()">Download as XLS</button>
	    </div>  
		<br><br>
	  	
	    <table class="table table-striped table-bordered table-condensed notranslate" id="t01">
	    	<tr>
	    		<th>Product</th>
	    		<th>Quantity</th>
	    		<th>Amount</th>
			</tr>
	  		<tr ng-repeat="x in orderSummariesProduct">
	  			<td>{{x.productName}}</td>
	  			<td class="quantity">{{x.quantity}}</td>
	  			<td>₹ {{x.collection}}</td>
	  		</tr>
	  		<tr>
	  			<td colspan="2">
	  				Total Amount
	  			</td>
	  			<td id="totalProducts">
	  				0
	  			</td>
	  		</tr>
	  	</table>
	</div>  
</div>