<div ng-controller="OrderSummaryGroupsController">
	<div class="page-header">
		<h1>Order Summary <small>Date wise</small></h1>
	</div>
	<div id="OrderSummaryGroup" class="row-fluid" th:attr="organizationId=${organization.organizationId}">
		<p hidden id="orgAbbrevation" th:text="${orgAbbrevation}">text</p></br></br>
			<form class="simple-form"><!-- 
				Group Name: 
				<select id="selectedGroup" ng-model="name" class="notranslate">
					<option th:each="group : ${groups}" th:value="${group.groupId}">
	    					<p th:text="${group.name}">text</p>
	    			</option>
	    			<option>All Groups</option>
	  			</select>   -->
	  			From: <input id="fromGroupsDate" name="From" ng-model="fromDate" placeholder="yyyy-mm-dd">
	  			To: <input id="toGroupsDate" name="To" ng-model="toDate" placeholder="yyyy-mm-dd">
	    		<input type="submit" id="submitGroups" value="Submit" />
	  		</form>
	  	<table class="table table-striped table-bordered table-condensed" id="t01">
	  		<tr>
	  			
	    		<th>Product</th>
	    		<th>Quantity</th>
	    		<th>Amount</th>
			</tr>
	  		<tr ng-repeat="x in orderSummariesGroup">
	  			<td>{{x.productName}}</td>
		  		<td>{{x.quantity}}</td>
		  		<td>₹ {{x.collection}}</td>
	  		</tr>
	  		<tr>
	  			<td colspan="2">
	  				Total Amount
	  			</td>
	  			<td id="totalAmount">
	  				0
	  			</td>
	  		</tr>
	  	</table>
	</div>
</div>	