<div id="Product-type-controller" ng-controller="ProductsTypeCtrl" class="row-fluid">
<div id="product-type" th:attr="organizationId=${organization.organizationId}" class="row-fluid">
  <div class="page-header">
    <h1>Product Type List <small>Edit items</small></h1>
    <span>{{organization}}</span>
  </div>
  <div class="row-fluid">
    <button class= "btn btn-success" id = "add-product-type" data-toggle="modal" data-title="Add new product" data-target="#add-type-modal" >
    <i class="icon-white icon-plus-sign"></i> Add new product type</button>
   	<div style="float: right;">
		<button class= "btn btn-danger btn-small" id = "refresh-table" ng-click="refreshTable()">Refresh</button>
    </div>
    <br>
    <br>
  </div>
</div>
<div class="col-md-3">
  <div class="table-responsive">
    <table id="producttypetable" class="table table-bordred table-striped">
      <thead>
        <!--<th><input type="checkbox" id="checkall" /></th>-->
        <th>Product type</th>
      </thead>
      <tbody>
      
        <tr id="typelist" ng-hide="producttype.stat" ng-repeat="producttype in productTypeList">
          <!--<td><input type="checkbox" class="checkthis" /></td>-->
          <td> {{ producttype.name }} </td>
           <td>
            <p data-placement="top" data-toggle="tooltip" title="Edit">
              <button  id="btn-edit-type" class="open-edit-modal btn btn-primary btn-xs" ng-click="editName(producttype, productTypeList)" data-title="Edit"  data-toggle="modal" data-target="#edit-type-modal">
              <i class="icon-white icon-pencil"></i> Edit</button>
            </p>
          </td>
		
           <td>
           	<button  id="btn-delete-type" class="open-delete-modal btn btn-danger btn-xs" ng-click="deleteProductType(producttype)" data-title="Delete" data-toggle="modal" data-target="#delete-type-modal" >
              <i class="icon-white icon-trash"></i> Delete</button>
           <!-- 
            <p data-placement="top" data-toggle="tooltip" title="Delete">
            </p>
           
            <p data-placement="top" data-toggle="tooltip" title="Enable/Disable">
              <button  id="btn-delete"  ng-click="enableDisableCurrentProductType(producttype.productTypeId)"  ng-class="{'btn btn-danger btn-xs': product.status, 'btn btn-success': !producttype.status}" data-title="displayStatus()" data-toggle="modal">Toggle</button>
            </p>this one -->
          </td>
          <td>
       		<button  id="btn-delete"  ng-click="enableDisableCurrentProduct(producttype)"  ng-class="{'btn btn-danger': !producttype.status, 'btn btn-success': producttype.status}" data-title="displayStatus(producttype.status)" data-toggle="modal">{{ displayStatus(producttype.status) }}</button>
           <!--   <button  id="btn-delete"  ng-click="enableDisableCurrentProductType(producttype.productTypeId)"  ng-class="{'btn btn-danger btn-xs': {{producttype.status}}, 'btn btn-success': !{{producttype.status}}}" data-title="displayStatus()" data-toggle="modal"></button>-->
           
           </td> 
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="edit-type-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-header">
      		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
      		<h4 class="modal-title custom_align" id="HeadingEdit">Edit this entry</h4>
    	</div>
    	<div class="modal-body">
      		<form class="form-horizontal"> 
		  		<div class="control-group">
		    		<label class="control-label"> New product type:</label>
						<div class="controls">
			  				<input type="text" class="input-small" id="update-type-input" />
						</div>
		  		</div>
	  		</form>
    	</div>
  		<div class="modal-footer ">
    		<button type="button" id = "update-type" class="btn btn-warning" ng-click="updateType()"><i class="icon-white icon-pencil"></i>  Update</button>
    		<button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
  		</div>
		<!-- /.modal-content --> 
	</div>
	<!-- /.modal-dialog --> 
</div>
<div class="modal fade" id="delete-type-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingDelete" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        		<h4 class="modal-title custom_align" id="HeadingDelete">Delete this entry</h4>
      		</div>
      		<div class="modal-body">
        		<div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?
      			</div>
      			<div class="modal-footer ">
        			<button type="button" class="btn btn-success" id="delete-type" ng-click="deleteType()" ><i class="icon-white icon-ok"></i> Yes</button>
        			<button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> No</button>
      			</div>
    		</div>
    	<!-- /.modal-content --> 
  		</div>
  	<!-- /.modal-dialog --> 
	</div>
</div>
<div class="modal fade" id="add-type-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingAdd" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> </button>
      <h4 class="modal-title custom_align" id="HeadingEdit">Add New Product Type</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal"> 
		    <div class="control-group">
		    <label class="control-label" for="new-product-type-input">Product Type</label>
			<div class="controls">
			  <input type="text" class="input-large" id="new-product-type-input" placeholder="Vegetables" />
			</div>
		  </div>
		  </div>
	  </form>
    </div>
    <div class="modal-footer ">
    <button type="button" class="btn btn-success" id="add-new-type" ><i class="icon-white icon-ok"></i> Add</button>
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button> 
  	</div>
  </div>
 <!-- /.modal-content --> 
<!-- /.modal-dialog -->

<div class="modal fade" id="type-add-failed-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingAddFailed" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="HeadingAddFailed">Failed to add product type</h4>
      </div>
      <div class="modal-body">
	    <b>Technical details:</b><br/>
        <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>{{failure}}</div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> OK</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>

<div class="modal fade" id="type-add-success-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingAddSuccess" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="HeadingAddSuccess">Product type added</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-success"><span class="glyphicon glyphicon-success-sign"></span>Product type<b>{{productType}}</b> successfully added!</div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" data-dismiss="modal"><i class="icon-white icon-remove"></i> OK</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>

</div>