
<div ng-controller="ProductsCtrl">
<div class="row-fluid">
  <div class="page-header">
    <h1>Product List <small>Edit items</small></h1>
    <span>{{organization}}</span>
  </div>
  <div class="row-fluid">
  	<form class="form-inline">
	    <button class= "btn btn-success btn-small" id = "add-product" data-toggle="modal" data-title="Add new product" data-target="#add-product-modal">
	    <i class="icon-white icon-plus-sign"></i> Add new product</button>
	    <!-- button class= "btn btn-success btn-small" id = "add-multi-product"  ng-click="displaySpreadsheet()" data-toggle="modal" data-title="Add multiple products" data-target="#add-multiple-product-modal">
	    <i class="icon-white icon-plus-sign"></i> Add Multiple Products</button-->
	    <!-- <button class = "btn btn-success btn-small"  id = "global-status-enable"  ng-click="globalEnable()" data-toggle="modal" data-title="Enable All Products"> Enable All Products</button>
	    <button class = "btn btn-danger btn-small"  id = "global-status-disable"  ng-click="globalDisable()" data-toggle="modal" data-title="Disable All Products"> Disable All Products</button>
 		 --><button class = "btn btn-success btn-small"  id = "download-spreadsheet"  ng-click="downloadSpreadsheet()">Download as .xlsx</button>
 		<label class="custom-file-upload btn btn-info btn-small" role="button">
 			<input id="spreadsheet-upload" type="file" size = "4" onchange="angular.element(this).scope().uploadSheet(this)" name="mySpreadsheet" file-model="mySpreadsheet" />Upload .xlsx
		</label>			
    <div style="float: right;">
		<input style="float:left;" size="12" id="productnamesearch" type="text" placeholder="Search" ng-model="productsearch.name" onkeypress="return event.keyCode != 13;">
	</div>
	</form>
	<form role="form" class="form-inline" style="margin-top:15px;">
	<label for="savedAppProductName">Filter according to product type: </label>
		<select ng-model="currProduct" id="savedAppProductName"
   			data-ng-options="product as product.name.split('--')[1] for product in productTypeList">
			<option value="" selected>All</option>
   		</select>
		<!-- <input type="radio" ng-model="selectedRole" id=roleradio3
			value="Publisher">&nbsp;Display all Publishers &nbsp; <input
			type="radio" ng-model="selectedRole" id=roleradio4
			value="Admin Publisher">&nbsp;Display All Admin Publishers -->
		<div style="float: right;">
			<button class= "btn btn-danger btn-small" id = "refresh-table" ng-click="refreshTable()">Refresh</button>
	    </div>

	</form>
  </div>
</div>
<div class="col-md-3" >
  <div class="table-responsive">
    <table id="producttable" class="table table-bordred table-striped">
      <thead>
      	<tr>
      	<th>Product Image</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Edit Product</th>
       <!--  <th>Delete Product</th> 
        <th>Enable</th>
        <th>Disable</th>-->
        <th>Status</th>
        <th>Audio Track</th>
        </tr>
      </thead>
      <tbody>
      
        <tr id="list" dir-paginate="product in products | orderBy:'name'| filter:currProduct.name | filter:productsearch | itemsPerPage: 10">
		<td><img  ng-src="{{product.imageUrl}}" ng-click="setImgURL(product)" width=60 data-toggle="modal" data-title="View Image" data-target="#view-image"/></td> 
		<td>{{ product.name }}</td>
        <td>{{ product.unitRate }}</td>
        <td>{{ product.productType.split('--')[1] }}</td>
        <td>{{ product.quantity }}</td>
        <td>
            <p data-placement="top" data-toggle="tooltip" title="Edit">
              <button  id="btn-edit" ng-click="editCurrentProduct(product)" class="open-edit-modal btn btn-primary btn-xs" data-title="Edit"  data-toggle="modal" data-target="#edit-product-modal">
              <i class="icon-white icon-pencil"></i> Edit</button>
            </p>
        </td>
       <!--  <td>
            <p data-placement="top" data-toggle="tooltip" title="Delete">
              <button  id="btn-delete" ng-click="deleteCurrentProduct(product)" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete-product-modal" >
              <i class="icon-white icon-trash"></i> Delete</button>
            </p>
       </td> 
       <td>
            <p data-placement="top" data-toggle="tooltip" title="Enable/Disable">
              <button  id="btn-delete"    class="btn btn-warning btn-xs" data-title="displayStatus()" data-toggle="modal">Enable</button>

            </p>
       </td>
       <td>
            <p data-placement="top" data-toggle="tooltip" title="Enable/Disable">
              <button  id="btn-delete"  ng-click="disableCurrentProduct(product)"  class="btn btn-warning btn-xs" data-title="displayStatus()" data-toggle="modal">Disable</button>
            </p>
       </td> -->
       <td>
            <p data-placement="top"  title="Current Status">
              <button  id="btn-chumma" ng-click="enableCurrentProduct(product)" ng-class="{'btn btn-danger btn-xs': !product.status, 'btn btn-success btn-xs': product.status}" data-title="Edit" > <!--  class="open-edit-modal btn btn-primary btn-xs" -->
              	<span ng-show="!product.status">Disabled</span>
    			<span ng-show="product.status">Enabled</span>
    		  </button>
            </p>
        </td>
        <td style="width:20px">
			<audio id='audio-bar' ng-src='{{product.audioUrlWav}}' controls></audio> 
		</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<dir-pagination-controls id="pagination-manage-users" boundary-links="true" th:attr='template-url=@{/static/js/dirPagination.tpl.html}'></dir-pagination-controls>

<div class="modal fade" id="view-image" tabindex="-2" role="dialog" aria-labelledby="HeadingAdd" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> </button>
      <h4 class="modal-title custom_align" id="HeadingEdit">View Image</h4>
    </div>
    <div class="modal-body">
	    <div style="margin:0 auto;">
	        <img ng-src="{{imagURL}}" width=200 class="img-responsive"/>
	    </div>	     
    </div>
  </div>
</div>
    
    
    
    
<div class="modal fade" id="add-product-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingAdd" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> </button>
      <h4 class="modal-title custom_align" id="HeadingEdit">Add New Product</h4>
    </div>
    <div class="modal-body">
      <form id="addForm" class="form-horizontal"> 
		  <div class="control-group">
		    <label for="new-product-input">Product(*)</label>
			<div class="controls">
			  <input type="text" class="input-large" id="new-product-input" placeholder="Potato" />
			</div>
		  </div>
		 
		  
		  <div class="control-group">
		    <label class="control-label" for="new-product-type-input">Product Type(*)</label>
			<div class="controls">
				<select id="new-product-type-input">
				  <option value='' disabled selected="selected" style='display:none;'>-Select-</option>
				  <option ng-repeat="productType in productTypeList" value="productTypes/{{productType.id}}">{{productType.name}}</option>
				</select>
			</div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="new-price-input">Price(*)</label>
			<div class="controls">
			  <input type="text" class="input-large" id="new-price-input" placeholder="45" maxlength="7"/>
			</div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="new-quantity-input">Quantity(*)</label>
			<div class="controls">
			  <input type="text" class="input-large" id="new-quantity-input" placeholder="2" maxlength="7"/>
			</div>
		  </div>
		  <div class="control-group">
		  	<div id="pictureBox">
		  		<img id="productImage1" style='float:right;' src="#" hidden/>
		  	</div>
		    <label class="custom-file-upload btn btn-info btn-small" role="button">
		    		<input id="product-image-file" type="file" size = "4" onchange="angular.element(this).scope().fileAdded(this)" name="myProductImage" file-model="myProductImage" />
					<i class="icon-folder-open icon-white"></i> Choose Product Image (JPG only)
			</label>
			<span id="product-image-name"></span>
		  </div>
		  <div class="control-group">
		  	<div id="soundBox">
		  		<audio id="productSound1" style='float:right;' src="#" ></audio>
		  	</div>
		    <label class="custom-file-upload btn btn-info btn-small" role="button">
		    		<input id="product-sound-file" type="file" size = "4" onchange="angular.element(this).scope().soundAdded(this)" name="myProductSound" file-model="myProductSound" />
					<i class="icon-folder-open icon-white"></i> Choose Product Sound (WAV only)
			</label>
		 </div>
	  </form>
    </div>
  </div>
  <div class="modal-footer ">
    <button type="button" class="btn btn-success" id="add-new-product" ><i class="icon-white icon-ok"></i> Add</button>
    <button type="button" id="resetAddForm" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button> 
  </div>
</div>



<div class="modal fade" id="edit-product-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
      <h4 class="modal-title custom_align" id="HeadingEdit">Edit Product</h4>
    </div>
    <div class="modal-body">
      <form id="editForm" class="form-horizontal"> 
		  <div class="control-group">
			<label class="control-label" id="update-product-list-input-name">Name</label>
			<div class="controls">
			  <input type="text" class="input-small" id="update-product-name-input" />
			</div>
		  </div>
		  <div class="control-group">	   
		    <label class="control-label" id="update-product-input">Price</label>
			<div class="controls">
			  <input type="text" class="input-small" id="update-price-input" maxlength="7"/>
		    </div>
		  </div>
		   <div class="control-group">	   
		    <label class="control-label" id="update-quantity-input">Modify Quantity</label>
			<div class="controls">
			  <input type="text" class="input-small" id="update-product-quantity-input" maxlength="7"/>
		    </div>
		  </div>
		  <div class="control-group">
		  	<div id="pictureBox">
		  		<img id="productImage" style='float:right;width:60px;' src="#"/>
		  	</div>
		  	
		  	<!-- Editing image -->
	
		    <label class="custom-file-upload btn btn-info btn-small" role="button">
		    		<input id="product-image-file-edit" type="file" size = "4" onchange="angular.element(this).scope().fileEdited(this)" name="myProductImageEdit" file-model="myProductImageEdit" />
					<i class="icon-folder-open icon-white"></i> Choose Product Image (JPG only)
			</label>
			<span id="product-image-name"></span>
		 </div>
		 
		  <div class="control-group">
		  	<div id="soundBox">
		  		<audio id="productSound" style='float:right;' src="#" controls></audio>
		  	</div>
		    <label class="custom-file-upload btn btn-info btn-small" role="button">
		    		<input id="product-sound-file-edit" type="file" size = "4" onchange="angular.element(this).scope().soundEdited(this)" name="myProductSoundEdit" file-model="myProductSoundEdit" />
					<i class="icon-folder-open icon-white"></i> Choose Product Sound (WAV only)
			</label>
		 </div>
	  </form>
	  </div>
    </div>
  <div class="modal-footer ">
    <button type="button" id = "remove-audio" ng-style= "statusAud" ng-click="removeAudio()" class="btn btn-warning"> Remove Sound </button>
    <button type="button" id = "remove-image" ng-style= "statusImg" ng-click="removeImage()" class="btn btn-warning"> Remove Image </button>
    <button type="button" id = "add-description" ng-click="setDesc()" class="btn btn-warning" data-toggle="modal" data-title="Set Description" data-target="#set-description"> Set Description </button>
    <button type="button" id = "update-product" ng-click="updateEditCurrentProduct()" class="btn btn-warning"><i class="icon-white icon-pencil"></i>  Update</button>
    <button type="button" id = "resetEditForm" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
  </div>
</div>
<!-- /.modal-content --> 

<!-- /.modal-dialog --> 
<div class="modal fade" id="set-description" tabindex="-2" role="dialog" aria-labelledby="HeadingDelete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="HeadingDelete">Set Description</h4>
      </div>
      <div class="modal-body"> 
      		<input type="text" id="description">
	  </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" ng-click="updateDesc()" id="product-desc" ><i class="icon-white icon-ok"></i> OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>

<div class="modal fade" id="add-multiple-product-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingAdd" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> </button>
      <h4 class="modal-title custom_align" id="HeadingEdit">Add New Product</h4>
    </div>
    <div class="modal-body">
    <div id='spreadsheet'></div> 
    </div>
    </div>
    <div class="modal-footer ">
    <button type="button" class="btn btn-success" id="add-new-product-multi" ><i class="icon-white icon-ok"></i> Add</button>
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
    </div>
</div>
    
<!-- /.modal-content --> 
<!-- /.modal-dialog -->

<div class="modal fade" id="quantity-product-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingAdd" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> </button>
      <h4 class="modal-title custom_align" id="HeadingEditQty">Add More</h4>
    </div>
    <div class="modal-body">
    <form class="form-horizontal">
    <div class="control-group">
		    <label class="control-label" for="add-quantity-input">Add Quantity</label>
			<div class="controls">
			  <input type="text" class="input-large" id="add-quantity-input" placeholder="2"/>
			</div>
		  </div>
		 </form>
    </div>
    </div>
    <div class="modal-footer ">
    <button type="button" class="btn btn-success" ng-click="updateQuantity()" id="add-quantity-product-button" ><i class="icon-white icon-ok"></i> Update</button>
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
    </div>
</div>
















<div class="modal fade" id="product-add-failed-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingAddFailed" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="HeadingAddFailed">Failed to add product</h4>
      </div>
      <div class="modal-body">
	    <b>Technical details:</b><br/>
        <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>{{failure}}</div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> OK</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>

<div class="modal fade" id="product-add-success-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingAddSuccess" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-success"><span class="glyphicon glyphicon-success-sign"></span>Product <b>{{productName}}</b> successfully added!</div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" data-dismiss="modal"><i class="icon-white icon-remove"></i> OK</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>

</div>
