<div id="user-controller-page" ng-controller="UsersCtrl"
	th:attr="organizationabbr=${organization.abbreviation}">
		<div class="page-header">
			<h1>Manage Members</h1>
		</div>
			
			<form id="uploadData" class="form-inline" enctype="multipart/form-data" onkeypress="return event.keyCode != 13;">
				<button class="btn btn-success btn-small" id="add_new_user" data-toggle="modal"
				data-title="Add new user" data-target="#add-new-user-modal">
				<i class="icon-white icon-plus-sign"></i> Invite a Customer</button>
				
				<!--  button class="btn btn-success btn-small" id="send_new_broadcast" data-toggle="modal"
				data-title="Send a broadcast message" data-target="#send-broadcast-modal">
				<i class="icon-white icon-plus-sign"></i> Broadcast a message</button-->
				
				<!--ictB-->
				<a id="download_xls" class="btn btn-info btn-small" role="button" ng-click="createAlert('Alert','Edit the downloaded XLS and upload it to add the data to database. Only phone number is compulsary.')" th:attr="href='http://ruralict.cse.iitb.ac.in/Downloads/spreadsheets/Add Member.xls'" download>
				<!--ictE-->
				<!--bestB
				<a id="download_xls" class="btn btn-info btn-small" role="button" ng-click="createAlert('Alert','Edit the downloaded XLS and upload it to add the data to database. Only phone number is compulsary.')" th:attr="href='http://best-erp.com/extras/spreadsheets/Add Member.xls'" download>
				bestE-->	
					<i class="icon-white icon-download-alt"></i> Download Sample XLS
				</a>	
				
				<label class="custom-file-upload btn btn-info btn-small" role="button">
		    		<input id="read_xls" type="file" onchange="angular.element(this).scope().readXLS(this)" name="read_Xls" value="" file-model="read_Xls" ng-model="read_Xls" />
					<i class="icon-folder-open icon-white"></i>  Upload data from XLS
				</label>
				<button class= "btn btn-danger btn-small" id = "refresh-table" ng-click="refreshTable()">Refresh</button>
	    
								
				<div style="float: right;">
					<input style="float:left;" id="usernamesearch" type="text" placeholder="Search" ng-model="userpropertysearch">
				</div>
			</form>
			
		<form role="form" style="margin-top:15px;">
			<input type="radio" ng-model="selectedRole" id=roleradio1 value="">&nbsp;Display
			All Members &nbsp; <input type="radio" ng-model="selectedRole"
				id=roleradio2 value="Admin">&nbsp;Display all Admins &nbsp;
			<!-- <input type="radio" ng-model="selectedRole" id=roleradio3
				value="Publisher">&nbsp;Display all Publishers &nbsp; <input
				type="radio" ng-model="selectedRole" id=roleradio4
				value="Admin Publisher">&nbsp;Display All Admin Publishers -->

		</form>
		
		<table class="table table-striped table-bordered table-condensed" id="usertable">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Last Name</th>
					<th>E-mail</th>
					<th>Phone</th>
					<th>Role</th>
					<th>Address</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr class="list-manageMember" ng-hide='manageUserItem.stat' dir-paginate="manageUserItem in manageUserItems | filter:selectedRole | filter: userPropertySearchQuery | orderBy:'name' | itemsPerPage: 10">
					
					<td>{{ manageUserItem.manageUserID }}</td>
					<td class="notranslate">{{ manageUserItem.name }}</td>
					<td class="notranslate">{{ manageUserItem.lastname }}</td>
					<td class="notranslate">{{ manageUserItem.email }}</td>
					<td>{{ manageUserItem.phone.slice(2) }}</td>
					<td><span class="label label-success">{{
							manageUserItem.role }}</span></td>
					<td class="notranslate">{{ manageUserItem.address }}</td>

					<td>
						<div class="btn-group">
							<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown"
								href="#">Actions <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li ng-click="editRowUser($event, manageUserItem)"><a
									href="#" data-target="#edit-user-modal"><i
										class="icon-pencil"></i> Edit</a></li>
								<!--  <li><a href="#"><i class="icon-trash"></i> Delete</a></li>   Remove delete button from actions dropdown-->
								<!-- <li ng-click="getRowUserDetails($event, manageUserItem)"><a
									href="#"><i class="icon-user"></i> Details</a></li> -->
								<!-- <li class="nav-header" ng-if="!detectIfAdmin(manageUserItem)">Permissions</li>
 								-->
								<!-- <li ng-if="!detectIfAdmin(manageUserItem)"
									ng-click="makeRoleAdmin($event, manageUserItem)"><a
									href="#"><i class="icon-lock"></i> Make <strong>Admin</strong></a>
								</li> -->
								<li  ng-if="!detectIfAdmin(manageUserItem)"
								ng-click="removeMember($event, manageUserItem)"><a 
									href="#"><i class="icon-remove"></i> Delete membership</a>
								</li>
								<!-- <li ng-if="detectIfAdmin(manageUserItem)"
									ng-click="removeRoleAdmin($event, manageUserItem)"><a
									href="#"><i class="icon-lock"></i> Remove as <strong>Admin</strong></a>
								</li> -->

								<!-- li ng-if="!detectIfPublisher(manageUserItem)"
									ng-click="makeRolePublisher($event, manageUserItem)"><a
									href="#"><i class="icon-lock"></i> Make <strong>Publisher</strong></a>
								</li>
								<li ng-if="detectIfPublisher(manageUserItem)"
									ng-click="removeRolePublisher($event, manageUserItem)"><a
									href="#"><i class="icon-lock"></i> Remove as <strong>Publisher</strong></a></li> -->
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls id="pagination-manage-users"
			boundary-links="true"
			th:attr='template-url=@{/static/js/dirPagination.tpl.html}'></dir-pagination-controls>


	<!--  Modal dialog to add a new user -->
	<div class="modal fade" id="add-new-user-modal" tabindex="-1"
		role="dialog" aria-labelledby="HeadingAddUser" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="icon-remove"></i>
				</button>
				<h4 class="modal-title custom_align" id="HeadingUser">Invite a Customer</h4>
			</div>
			<div class="modal-body">
				<form id="add-member-new" class="form-horizontal">
					<!-- <div class="control-group">
						<label class="control-label" for="new-user-name-input">First Name</label>
						<div class="controls">
							<input type="text" ng-model=inputUserName class="input-xlarge"
								id="new-user-name-input" placeholder="Name" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="new-user-lastname-input">Last Name</label>
						<div class="controls">
							<input type="text" ng-model=inputUserLastName class="input-xlarge"
								id="new-user-lastname-input" placeholder="Lastname" />
						</div>
					</div> -->
					<div class="control-group">

						<label class="control-label" for="new-user-phone-input">Phone(*)</label>
						<div class="controls">

							<div class="input-prepend input-append">
								<input type="text" ng-model=inputUserPhone class="input-xlarge"
									id="new-user-phone-input" placeholder="9988776655" />
							</div>
						</div>
					</div>
					<!-- <div class="control-group">
						<label class="control-label" for="new-user-address-input">Address</label>
						<div class="controls">
							<input type="text" ng-model=inputUserAddress class="input-xlarge"
								id="new-user-address-input" placeholder="Mumbai" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="new-user-email-input">Email</label>
						<div class="controls">
							<input type="text" ng-model=inputUserEmail class="input-xlarge"
								id="new-user-email-input" placeholder="abcd@email.com" />
						</div>
					</div> -->
				</form>
			</div>
		</div>
		<div class="modal-footer ">
			<button type="button" class="btn btn-success"
				ng-click="addNewUserModalButton()" id="add-new-user">
				<i class="icon-white icon-ok"></i> Add
			</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">
				<i class="icon-white icon-remove"></i> Cancel
			</button>
		</div>
	</div>

	<!--  Modal dialog for sending a broadcast -->

	<div class="modal fade" id="send-broadcast-modal" tabindex="-1"
		role="dialog" aria-labelledby="HeadingAddUser" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="icon-remove"></i>
				</button>
				<h4 class="modal-title custom_align" id="HeadingUser">Broadcast a message</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="new-user-name-input">Message </label>
						<div class="controls">
							<input type="text" ng-model=inputMessage class="input-xlarge"
								id="new-message-input" placeholder="Special offer on mangoes" />
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer ">
			<button type="button" class="btn btn-success"
				ng-click="sendBroadcast()" id="send-broadcast">
				<i class="icon-white icon-ok"></i> Send Broadcast
			</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">
				<i class="icon-white icon-remove"></i> Cancel
			</button>
		</div>
	</div>


	<!--  Modal dialog for edit user details -->
	<div class="modal fade" id="edit-user-modal" tabindex="-1"
		role="dialog" aria-labelledby="HeadingAddUser" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="icon-remove"></i>
				</button>
				<h4 class="modal-title custom_align" id="HeadingEdiitMember">Edit
					Member Details</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal ">
					<div class="control-group">
						<label class="control-label" for="edit-user-name-input">First Name</label>
						<div class="controls">
							<input type="text" ng-model=editUserName class="input-xlarge"
								id="edit-user-name-input" placeholder="George" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="edit-user-lastname-input">Last Name</label>
						<div class="controls">
							<input type="text" ng-model=editUserLastName class="input-xlarge"
								id="edit-user-lastname-input" placeholder="Clooney" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="edit-user-phone-input">Phone</label>
						<div class="controls">
							<input type="text" ng-model=editUserPhone class="input-xlarge" disabled
								id="edit-user-phone-input" placeholder="9988776655" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="edit-user-address-input">Address</label>
						<div class="controls">
							<input type="text" ng-model=editUserAddress class="input-xlarge"
								id="edit-user-address-input" placeholder="A/78, Los Angeles" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="edit-user-email-input">Email</label>
						<div class="controls">
							<input type="text" ng-model=editUserEmail class="input-xlarge" disabled
								id="edit-user-email-input" placeholder="george@clooney.com" />
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer ">
			<button type="button" class="btn btn-success"
				ng-click="editUserModalAnchorButton()" id="edit-user-anchor">
				<i class="icon-white icon-ok"></i> Save
			</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">
				<i class="icon-white icon-remove"></i> Cancel
			</button>
		</div>
	</div>

	<!--  Modal dialog for get user details such groups associated and phone numbers -->
	<div class="modal fade" id="get-user-details-modal" tabindex="-1"
		role="dialog" aria-labelledby="HeadingAddUser" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="icon-remove"></i>
				</button>
				<h4 class="modal-title custom_align" id="HeadingMemebrDetails">Member
					Details</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="new-user-name-input"><b>Groups
								:</b> </label>
						<ul class="control-label" style="list-style-type: none">
							<li ng-repeat="group in userDetails.groups"
								style="text-align: left;">{{ group }}</li>
						</ul>
					</div>
					<div class="control-group">
						<label class="control-label" for="new-user-name-input"><b>Phone
								Number :</b> </label>
						<ul class="control-label" style="list-style-type: none">
							<li ng-repeat="phoneNumber in userDetails.phoneNumbers"
								style="width: 200px; text-align: left;">{{ phoneNumber }}</li>
						</ul>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer ">
			<button type="button" class="btn btn-success" data-dismiss="modal"
				id="get-user-details-modal-ok">
				<i class="icon-white icon-ok"></i> OK
			</button>
		</div>
	</div>
</div>